body {
  margin: 0px;
}

.container {
  height: 100vh;
}

img {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f25287;
  padding-right: 20px;
  padding-left: 20px;
  height: 15vh;
  margin: 0px;
}

.rest {
  margin: 0px;
  padding: 0px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
  position: relative;
  background: linear-gradient(
    217deg,
    rgba(250, 208, 196, 0.5) 0%,
    rgba(255, 209, 255, 0.5) 100%
  );
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background: rgba(0, 0, 0, 0);
  border-radius: 9999px;
  border: 3px white solid;
}

.text {
  width: 68px;
  height: 46px;
  color: white;
  font-size: 50px;
  font-family: Italianno;
  font-weight: 400;
}

.headertext {
  width: auto;
  height: auto;
  color: #f9f3f3;
  font-size: 24px;
  font-family: Inter;
  font-weight: 800;
  background-color: #f25287;
  border: none;
  word-wrap: break-word;

  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Ensure long words are broken */
  display: block; /* Ensure block display for proper wrapping */
  padding: 10px; /* Optional: Add padding for better spacing */
  text-align: center; /* Optional: Center align text */
}

#short1 {
  width: 200px;
}

#short2 {
  width: 150px;
}

.profile {
  margin: 20px;
}

.banner {
  width: 505.29px;
  height: 34.17px;
  left: 464px;
  top: 575px;
  text-align: center;
  color: black;
  font-size: 36px;
  font-family: Inter;
  font-weight: 800;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  width: 1100px;
  height: 350px;
  background: #ffd4d4;
  border-radius: 12px;
}

.table {
  width: 900px;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
  /* margin: 20px; */
}

.tabletext {
  width: 343.29px;
  height: 25.35px;
  color: black;
  font-size: 32px;
  font-family: Inter;
  font-weight: 500;
  margin-top: 10px;
}

.showinfo {
  margin-top: 20px;
  width: 350px;
  height: 50px;
  left: 0px;
  top: 55px;
  background: white;
  border-radius: 10px;
}
