<div
  style="
    width: 1440px;
    height: 1024px;
    position: relative;
    background: linear-gradient(
      217deg,
      rgba(250, 208, 196, 0.5) 0%,
      rgba(255, 209, 255, 0.5) 100%
    );
  "
>
  <div
    style="
      width: 1440px;
      height: 128px;
      left: 0px;
      top: 0px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1440px;
        height: 128px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #f25287;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
      "
    ></div>
    <div
      style="
        width: 1099px;
        height: 58px;
        left: 198px;
        top: 35px;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 32px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 142px;
          height: 29px;
          color: #f9f3f3;
          font-size: 24px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        THÔNG TIN
      </div>
      <div
        style="
          width: 205px;
          height: 29px;
          color: #f9f3f3;
          font-size: 24px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        TIẾP NHẬN SẢNH
      </div>
      <div
        style="
          width: 116px;
          height: 29px;
          color: #f9f3f3;
          font-size: 24px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        TRA CỨU
      </div>
      <div
        style="
          width: 180px;
          height: 58px;
          color: #f9f3f3;
          font-size: 24px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        LẬP HÓA ĐƠN THANH TOÁN
      </div>
      <div
        style="
          width: 125px;
          height: 58px;
          color: #f9f3f3;
          font-size: 24px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        THAY ĐỔI<br />QUY ĐỊNH
      </div>
      <div
        style="
          width: 171px;
          height: 29px;
          color: #f9f3f3;
          font-size: 24px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        LẬP BÁO CÁO
      </div>
    </div>
    <div
      style="
        width: 64px;
        height: 64px;
        padding-top: 8px;
        padding-bottom: 7.99px;
        padding-right: 1px;
        left: 1337px;
        top: 32px;
        position: absolute;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div style="width: 63px; height: 48.01px; background: #f9f3f3"></div>
    </div>
    <div
      style="
        width: 88px;
        height: 88px;
        left: 34px;
        top: 20px;
        position: absolute;
      "
    >
      <div
        style="
          width: 88px;
          height: 88px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: rgba(0, 0, 0, 0);
          border-radius: 9999px;
          border: 3px white solid;
        "
      ></div>
      <div
        style="
          width: 68px;
          height: 46px;
          left: 13px;
          top: 21px;
          position: absolute;
          color: white;
          font-size: 50px;
          font-family: Italianno;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        W
      </div>
    </div>
  </div>
  <div
    style="
      width: 233px;
      height: 43px;
      padding: 5px;
      left: 283px;
      top: 499px;
      position: absolute;
      background: #f25287;
      border-radius: 10px;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 208px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word;
      "
    >
      Thay đổi mật khẩu
    </div>
  </div>
  <div
    style="
      width: 651px;
      height: 225px;
      padding-top: 6px;
      padding-bottom: 30px;
      padding-right: 18px;
      left: 74px;
      top: 201px;
      position: absolute;
      background: linear-gradient(217deg, #fad0c4 0%, #ffd1ff 100%);
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 44px;
      display: inline-flex;
    "
  >
    <div
      style="
        width: 622px;
        height: 219px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
      "
    >
      <div
        style="
          width: 599px;
          left: 20px;
          top: 20px;
          position: absolute;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 66px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 225px;
            height: 35px;
            color: black;
            font-size: 24px;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
          Mật khẩu hiện tại
        </div>
        <div
          style="
            width: 308px;
            height: 46px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 41px;
            padding-right: 57px;
            background: white;
            border-radius: 7px;
          "
        ></div>
      </div>
      <div
        style="
          width: 599px;
          left: 20px;
          top: 86px;
          position: absolute;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 66px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 225px;
            height: 35px;
            color: black;
            font-size: 24px;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
          Mật khẩu mới
        </div>
        <div
          style="
            width: 308px;
            height: 46px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 41px;
            padding-right: 57px;
            background: white;
            border-radius: 7px;
          "
        ></div>
      </div>
      <div
        style="
          width: 599px;
          left: 23px;
          top: 152px;
          position: absolute;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 66px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 225px;
            height: 35px;
            color: black;
            font-size: 24px;
            font-family: Inter;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
          Mật khẩu mới
        </div>
        <div
          style="
            width: 308px;
            height: 46px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 41px;
            padding-right: 57px;
            background: white;
            border-radius: 7px;
          "
        ></div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 1440px;
      height: 1021px;
      left: 0px;
      top: 3px;
      position: absolute;
      background: rgba(68.41, 68.41, 68.41, 0.5);
    "
  ></div>
  <div
    style="
      width: 537px;
      height: 258px;
      left: 451px;
      top: 339px;
      position: absolute;
    "
  >
    <div
      style="
        width: 537px;
        height: 277px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: linear-gradient(217deg, #fad0c4 0%, #ffd1ff 100%);
        border-radius: 23px;
      "
    ></div>
    <div
      style="
        width: 424px;
        left: 53px;
        top: 30px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 28px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word;
      "
    >
      Xác nhận thay đổi mật khẩu
    </div>
    <div
      style="
        left: 138px;
        top: 102px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Inter;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      Mật khẩu sẽ được thay đổi
    </div>
    <div
      style="
        width: 537px;
        height: 0px;
        left: 0px;
        top: 78px;
        position: absolute;
        border: 1px #c3c3c3 solid;
      "
    ></div>
    <div
      style="
        width: 537px;
        height: 0px;
        left: 0px;
        top: 146.5px;
        position: absolute;
        border: 1px #c3c3c3 solid;
      "
    ></div>
    <div
      style="
        width: 37.38px;
        height: 41px;
        padding-top: 10px;
        padding-bottom: 9.44px;
        padding-left: 9px;
        padding-right: 8.72px;
        left: 491px;
        top: 0px;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <div style="width: 19.66px; height: 21.56px; background: #808080"></div>
    </div>
    <div
      style="
        width: 417px;
        height: 62.05px;
        left: 60px;
        top: 186px;
        position: absolute;
      "
    >
      <div
        style="
          width: 417px;
          height: 62.05px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #f25287;
          border-radius: 10px;
        "
      ></div>
      <div
        style="
          width: 169.5px;
          height: 24.32px;
          left: 124px;
          top: 19px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 18px;
          font-family: Inter;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        XÁC NHẬN
      </div>
    </div>
  </div>
</div>
