<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        width: 1440px;
        height: 1024px;
        padding-bottom: 482px;
        background: linear-gradient(
          217deg,
          rgba(250, 208, 196, 0.5) 0%,
          rgba(255, 209, 255, 0.5) 100%
        );
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 73px;
        display: inline-flex;
      "
    >
      <div style="width: 1440px; height: 128px; position: relative">
        <div
          style="
            width: 1440px;
            height: 128px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f25287;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
          "
        ></div>
        <div
          style="
            width: 527px;
            height: 29px;
            left: 746px;
            top: 49px;
            position: absolute;
            justify-content: center;
            align-items: center;
            gap: 32px;
            display: inline-flex;
          "
        >
          <div
            style="
              width: 142px;
              height: 29px;
              color: #f9f3f3;
              font-size: 24px;
              font-family: Inter;
              font-weight: 800;
              word-wrap: break-word;
            "
          >
            THÔNG TIN
          </div>
          <div
            style="
              width: 205px;
              height: 29px;
              color: #f9f3f3;
              font-size: 24px;
              font-family: Inter;
              font-weight: 800;
              word-wrap: break-word;
            "
          >
            ĐẶC TIỆC CƯỚI
          </div>
          <div
            style="
              width: 116px;
              height: 29px;
              color: #f9f3f3;
              font-size: 24px;
              font-family: Inter;
              font-weight: 800;
              word-wrap: break-word;
            "
          >
            TRA CỨU
          </div>
        </div>
        <div
          style="
            width: 64px;
            height: 64px;
            padding-top: 8px;
            padding-bottom: 7.99px;
            padding-right: 1px;
            left: 1337px;
            top: 32px;
            position: absolute;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            display: inline-flex;
          "
        >
          <div style="width: 63px; height: 48.01px; background: #f9f3f3"></div>
        </div>
        <div
          style="
            width: 88px;
            height: 88px;
            left: 34px;
            top: 20px;
            position: absolute;
          "
        >
          <div
            style="
              width: 88px;
              height: 88px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: rgba(0, 0, 0, 0);
              border-radius: 9999px;
              border: 3px white solid;
            "
          ></div>
          <div
            style="
              width: 68px;
              height: 46px;
              left: 13px;
              top: 21px;
              position: absolute;
              color: white;
              font-size: 50px;
              font-family: Italianno;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            W
          </div>
        </div>
      </div>
      <div
        style="
          align-self: stretch;
          height: 225px;
          padding-top: 6px;
          padding-bottom: 30px;
          padding-right: 18px;
          background: linear-gradient(217deg, #fad0c4 0%, #ffd1ff 100%);
          border-radius: 23px;
          overflow: hidden;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 44px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 622px;
            height: 219px;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
          "
        >
          <div
            style="
              width: 599px;
              left: 20px;
              top: 20px;
              position: absolute;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 66px;
              display: inline-flex;
            "
          >
            <div
              style="
                width: 225px;
                height: 35px;
                color: black;
                font-size: 24px;
                font-family: Inter;
                font-weight: 500;
                word-wrap: break-word;
              "
            >
              Mật khẩu hiện tại
            </div>
            <div
              style="
                width: 308px;
                height: 46px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 41px;
                padding-right: 57px;
                background: white;
                border-radius: 7px;
              "
            ></div>
          </div>
          <div
            style="
              width: 599px;
              left: 20px;
              top: 86px;
              position: absolute;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 66px;
              display: inline-flex;
            "
          >
            <div
              style="
                width: 225px;
                height: 35px;
                color: black;
                font-size: 24px;
                font-family: Inter;
                font-weight: 500;
                word-wrap: break-word;
              "
            >
              Mật khẩu mới
            </div>
            <div
              style="
                width: 308px;
                height: 46px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 41px;
                padding-right: 57px;
                background: white;
                border-radius: 7px;
              "
            ></div>
          </div>
          <div
            style="
              width: 599px;
              left: 23px;
              top: 152px;
              position: absolute;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 66px;
              display: inline-flex;
            "
          >
            <div
              style="
                width: 225px;
                height: 35px;
                color: black;
                font-size: 24px;
                font-family: Inter;
                font-weight: 500;
                word-wrap: break-word;
              "
            >
              Mật khẩu mới
            </div>
            <div
              style="
                width: 308px;
                height: 46px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 41px;
                padding-right: 57px;
                background: white;
                border-radius: 7px;
              "
            ></div>
          </div>
        </div>
      </div>
      <div
        style="
          align-self: stretch;
          height: 43px;
          padding: 5px;
          background: #f25287;
          border-radius: 10px;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 208px;
            text-align: center;
            color: white;
            font-size: 20px;
            font-family: Inter;
            font-weight: 800;
            word-wrap: break-word;
          "
        >
          Thay đổi mật khẩu
        </div>
      </div>
    </div>
  </body>
</html>
