<%- include("partials/header.ejs") %>
<div class="container">
  <div class="left">
    <div class="signuptext">ĐĂNG KÝ TÀI KHOẢN</div>
    <div class="circle">
      <h1>W</h1>
    </div>
    <div class="second">
      <h2>Bạn đã có tài khoản? Đăng nhập ngay</h2>
      <form action="/login" method="post">
        <input id="btndangki" value="Đăng nhập" type="submit" />
      </form>
    </div>
  </div>
  <div class="right">
    <form action="/dosignup" method="post">
      <div class="inform">
        <input placeholder="Họ và tên" name="hovaten" required />
        <input placeholder="Tên đăng nhập" name="username" required />
        <input placeholder="Mật khẩu" name="matkhau" required />
        <input placeholder="Nhập lại mật khẩu" required />
        <input placeholder="Email" name="email" required />
        <input placeholder="Số điện thoại" name="sodienthoai" required />
        <input id="btndangki" value="ĐĂNG KÝ" type="submit" />
      </div>
    </form>
  </div>
</div>
<%- include("partials/footer.ejs") %>
