<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <div>W</div>
        </div>
      </div>
      <div>
        <div>
          <form action="/thongtin" method="POST">
            <input type="submit" name="thaydoi" value="THÔNG TIN" />
          </form>
        </div>
        <div>
          <form action="/tiepnhansanh" method="POST">
            <input type="submit" name="thaydoi" value="TIẾP NHẬN SẢNH" />
          </form>
        </div>
        <div>TRA CỨU</div>
        <div>LẬP HÓA ĐƠN THANH TOÁN</div>
        <div>THAY ĐỔI<br />QUY ĐỊNH</div>
        <div>LẬP BÁO CÁO</div>
        <img src="signout.svg" alt="" />
      </div>
      <img
        style="
          width: 334px;
          height: 334px;
          left: 553px;
          top: 166px;
          position: absolute;
          border-radius: 9999px;
        "
        src="https://via.placeholder.com/334x334"
      />
      <div></div>
      <div>THÔNG TIN NHÂN VIÊN</div>
      <div style="height: 115px; left: 778px; top: 767px; position: absolute">
        <div>SĐT:</div>
        <div></div>
      </div>
      <div style="height: 114px; left: 233px; top: 632px; position: absolute">
        <div>Tên nhân viên:</div>
        <div></div>
      </div>
      <div style="height: 116px; left: 233px; top: 761px; position: absolute">
        <div>Tên đăng nhập:</div>
        <div></div>
      </div>
      <div style="height: 116px; left: 778px; top: 630px; position: absolute">
        <div>Email:</div>
        <div></div>
      </div>
    </div>
  </body>
</html>
