<div class="header">
  <div class="circle">
    <div class="text">W</div>
  </div>

  <form action="/logout" method="POST">
    <input
      class="headertext"
      type="image"
      name="thaydoi"
      src="staff/signout.svg"
      alt=""
    />
  </form>
</div>
